<h1>Editing Profile</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :access_level %><br />
    <%= f.text_field :access_level %>
  </p>
  <p>
    <%= f.label :gmt_offset %><br />
    <%= f.text_field :gmt_offset %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to "Manage Characters", characters_url %>

