<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @snippit.name %>
</p>

<p>
  <b>Language:</b>
  <%= @snippit.language %>
</p>

<p>
  <strong>Code</strong><br/>
  <% if @snippit.highlighted_code.present? %>
    <%= @snippit.highlighted_code.html_safe %>
  <% else %>
    <pre><%= @snippit.code %></pre>
  <% end %>
</p>


<%= link_to 'Edit', edit_snippit_path(@snippit) %> |
<%= link_to 'Back', snippits_path %>
