<h1>Editing character</h1>

<% form_for(@character) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :character_name %><br />
    <%= f.text_field :character_name %>
  </p>
  <p>
    <%= f.label :character_level %><br />
    <%= f.text_field :character_level %>
  </p>
  <p>
    <%= f.label :character_spec_1_name %><br />
    <%= f.text_field :character_spec_1_name %>
  </p>
  <p>
    <%= f.label :character_spec_1_utility %><br />
    <%= f.text_field :character_spec_1_utility %>
  </p>
  <p>
    <%= f.label :character_spec_2_name %><br />
    <%= f.text_field :character_spec_2_name %>
  </p>
  <p>
    <%= f.label :character_spec_2_utility %><br />
    <%= f.text_field :character_spec_2_utility %>
  </p>
  <p>
    <%= f.label :character_profession_1 %><br />
    <%= f.text_field :character_profession_1 %>
  </p>
  <p>
    <%= f.label :character_profession_2 %><br />
    <%= f.text_field :character_profession_2 %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @character %> |
<%= link_to 'Back', characters_path %>