<h1>Roster</h1>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Level</th>
    <th>Spec 1</th>
    <th>Spec 2</th>
	<th>Profession 1</th>
	<th>Profession 2</th>
  </tr>

<% @characters.each do |character| %>
  <tr>
    <td><%=h character.user.name%> (<%=h character.character_name %>)</td>
    <td><%=h character.character_level %></td>
    <td><%=h character.character_spec1_name %> / <%=h character.character_spec1_tree %></td>
    <td><%=h character.character_spec2_name %> / <%=h character.character_spec2_tree %></td>
    <td><%=h character.character_profession1_name %> / <%=h character.character_profession1_level %></td>
    <td><%=h character.character_profession2_name %> / <%=h character.character_profession2_level %></td>
    <td><%= link_to 'Details', character %></td>
    <td><%= link_to 'Edit', edit_character_path(character) %></td>
    <td><%= link_to 'Delete', character, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add New character', new_character_path %>