<h1>New character</h1>

<% form_for(@character) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :character_name %><br />
    <%= f.text_field :character_name %>
  </p>
 <p>Remainder of information will be loaded from the armory</p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', characters_path %>