%h1 Listing products

%table
  %tr
    %th Title
    %th Description
    %th Image url
    %th Price
    %th
    %th
    %th

  - @products.each do |product|
    %tr
      %td= product.title
      %td= product.description
      %td= product.image_url
      %td= product.price
      %td= link_to 'Show', product
      %td= link_to 'Edit', edit_product_path(product)
      %td= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New product', new_product_path
