- if notice 
  %p#notice
    = notice

%h1 Your Pragmatic Catalog

#store
  - @products.each do |product|
    .entry
      = image_tag(product.image_url)
      %h3
        = product.description
      = sanitize product.description
      .price_line
        .price
          = product.price
